.Lisbon {
	background-color: #3399CC;
}

.Paris {
	background-color: #33CCCC;
}
.Belgrade {
	background-color: #996699;
}
.Moscow {
	background-color: #C24747;
}

.Tel_Aviv {
	background-color: #E2674A;
}

.Cair {
	background-color: #FFCC66;
}

.New_York {
	background-color: #99CC99;
}

.New_Delhi {
	background-color: #669999;
}

.San_Francisco {
	background-color: #CC6699;
}

.Tokyo {
	background-color: #339966;
}

.Sydney {
	background-color: #666699;
}